/elite-vault-399206-26df4d03d563.json
/node_modules
/.env
/services/desktop.ini
/services/implementations/desktop.ini
/utils/desktop.ini
/desktop.ini
/metrics/desktop.ini
/.DS_Store
/metrics/
.DS_Store
